@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* CSS Grid */
.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'nav     nav      nav      nav      nav      nav'
    'sidebar content  content  content  content  content'
    'sidebar content  content  content  content  content'
    'sidebar content  content  content  content  content'
    'footer  footer   footer   footer   footer   footer';
  grid-template-columns: 400px 1fr;
  grid-template-rows: 50px 1fr;
}

/* @media only screen and (min-width: 600px) {
  body {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 90px;
  }
} */

.header {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.menuItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  margin: auto;
  justify-items: center;
}

.main {
  display: grid;
  /* padding: 1rem; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 14px;
}

.displayGrid {
  display: grid;
}

.footer {
  grid-area: footer;
  background: cornflowerblue;
}

.aside {
  grid-area: sidebar;
  /* background: greenyellow; */
  margin-left: 9rem;
}

/* Flex */
.row {
  display: flex;
  flex-direction: row;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

/* Other Styling */
.logo {
  color: #5c7080;
}

.paddingSides {
  padding: 0 7px;
}

.paddingContent {
  padding: 3rem;
}

.noBorder {
  border: none;
  outline: none !important;
}

.iconSize {
  height: 1rem;
  width: 1rem;
  margin: 0.3rem;
}

.inputList {
  outline: none;
  margin-bottom: 0.5rem;
}

img {
  width: 100%;
}

.listItemTitle {
  margin: 0.5rem 0 0;
}

.fontSizeSmaller {
  font-size: smaller;
}

.displayNone {
  display: none;
}

.blockFill {
  background: lavender;
  height: 100%;
}

/* Filter Size Buttons */
.filterSizeButton {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 0.6rem;
  color: black;
  border: 1px solid rgb(118, 118, 118);
  text-align: center;
  padding: 0px;
  border-radius: 50%;
  margin: 0 0.6rem 0.6rem 0;
}

.filterSizeButton:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out 0s;
}

.filterSizeButtonClicked {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
}
